/* GOOGLE FONT LINK */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* BANNER STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(99, 74, 63, 0.6);
    background-blend-mode: multiply;
    z-index: -1;
}
.bg1{
    background-image: url(./img/a2.jpg);
    background-size: cover;
    opacity: 0;
}
.bg2{
    background-image: url(./img/a1.jpg);
    background-size: cover;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 0 18px;
    color: #fff;
}
nav li{
    position: relative;
}
a{
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
h1{
    color: #fff;
    text-transform: capitalize;
    font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  letter-spacing: .5px;
  margin: 0;
}
p{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Source Code Pro", monospace;
}
p.des{
    margin: 10px 0 30px 0;
    font-size: 14px;
}
.top{
    width: 90%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.logo{
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.content{
    width: 45%;
    position: absolute;
    bottom: 18%;
    left: 5%;
    z-index: 999;
}
.content h1{
    margin: 7px 0 15px 0;
}
/* button{
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 25px 0;
    transition: .5s all;
    
    
}
button > i{
    z-index: 999;
    transform: translateX(0px);
}
button:hover > i{
    transform: translateX(7px);
} */

.btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
}
.btn span {         
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
    font-family: "Source Code Pro", monospace;
}

/*--- btn-3 ---*/
.btn-3 {
    padding: 5px;
  }
.btn-3 span {
    color: rgb(54, 56, 55);
    background-color: rgb(255, 255, 255);
}
.btn-3::before,
.btn-3::after {
    background: transparent;
    z-index: 2;
}
/* 12. hover-border-2 */
.btn.hover-border-2::before,
.btn.hover-border-2::after {
  width: 10%; height: 25%;
  transition: 0.35s;
}
.btn.hover-border-2::before {
  bottom: 0; left: 0;
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}
.btn.hover-border-2::after {
  top: 0; right: 0;
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}
.btn.hover-border-2:hover::before,
.btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}


.social{
    position: absolute;
    top: 50%;
    right: 5%;
    transform-origin: right;
    transform: rotate(-90deg) translateY(-50%);
}

.social li{
transform: rotate(90deg);

}
.social ul li svg{
    cursor: pointer;
    z-index: 99;
}
.chevron{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.chevron li{
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    overflow: hidden;
}
.slid{
    width: 100%;
    height: 20%;
    background: #fff;
    position: relative;
    left: -100%;
}